@font-face {
  font-family: "Inter";
  src: url("./Inter.ttf") format("truetype");
}

/* medium screen upward */
@media (min-width: 768px) {
  body {
    padding: 50px 100px;
  }

  .main-first-section {
    margin-top: 130px;
    height: 400px;
  }
  .main-header {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .half-screen{
    width: 50%;
  }
  nav {
    /* height: px; */
    width: 100%;
    /* padding: 00px; */
  }
}
/* small screens */
@media (max-width: 640px) {
  body {
    padding: 12px;
  }

  .main-first-section {
    margin: 50px 0;
  }
  .main-first-section > div {
    flex-direction: column-reverse;
  }
  .main-header {
    margin-bottom: 30px;
    margin-top: 10px;
  }


}

body {
  color: #454545;
  font-family: "Inter";
}

/* ul {
    list-style-type: none;
}

.bold {
    font-weight: bold;
} */
/* Add a higher z-index for the dropdown and backdrop */
#smallScreenNavBar {
  z-index: 50;
}

#backdrop {
  z-index: 40;
}
.logo {
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

