/* body{
    margin: 0;
}


ul {
    list-style-type: none;
}

.bold {
    font-weight: bold;
} */
/* Add a higher z-index for the dropdown and backdrop */
#smallScreenNavBar {
    z-index: 50;
  }
  
  #backdrop {
    z-index: 40;
  }
  